@model Location
<div asp-validation-summary="ModelOnly" class="validation-summary-errors"></div>
<div class="form-grid">
    <div class="form-field">
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-field">
        <label asp-for="City"></label>
        <input asp-for="City" />
        <span asp-validation-for="City"></span>
    </div>
    <div class="form-field form-field-wide">
        <label asp-for="Address"></label>
        <input asp-for="Address" />
        <span asp-validation-for="Address"></span>
    </div>
    <div class="form-field form-field-wide">
        <label asp-for="Description"></label>
        <textarea asp-for="Description"></textarea>
        <span asp-validation-for="Description"></span>
    </div>
    <div class="form-field">
        <label asp-for="Latitude"></label>
        <input asp-for="Latitude" />
        <span asp-validation-for="Latitude"></span>
    </div>
    <div class="form-field">
        <label asp-for="Longitude"></label>
        <input asp-for="Longitude" />
        <span asp-validation-for="Longitude"></span>
    </div>
</div>
